@model VehicleMVC.Models.ScheduleVehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScheduleVehicle</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shift.Shifts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.Shifts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
