@using VehicleMVC.Models
@model VehicleMVC.Models.ScheduleVehicle

@{
    ViewBag.Title = "Create";
    List<ScheduleVehicle> scheduleVehicles = ViewBag.Data;
   
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ScheduleVehicle</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleId, "Select Vehicle", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VehicleId", String.Empty)
                @Html.ValidationMessageFor(model => model.VehicleId)
            </div>
        </div>

        <table>
            @if (scheduleVehicles != null)
            {<tr>
                <td>Date</td>
                <td>Already Booked Shift</td>
            </tr>
                foreach (var myData in scheduleVehicles)
                {
                 <tr>
                <td>@myData.Date</td>
                <td>@myData.Shift</td>
                  </tr>
                }
            }
            
          
        </table>
        
        
        
        
        
        

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               @* <input type="submit" id="ViewScheduleInformation" value="Show" class="btn btn-info" />*@
                <button id="ViewScheduleInformation" class="btn btn-info">Show</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
